* {
  font-family: 'roboto', sans-serif;
  font-weight: 900;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  background-image: var(--background-image-url);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255);
  overflow:hidden;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

.back-gray {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  opacity: .6;

}


.back-gray:hover {
  opacity: 0.75; /* 버튼에 마우스를 올렸을 때 투명도를 변경하여 애니메이션 효과를 더해줍니다. */
}

.intro-title::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.intro-title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;

}

.intro-title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  /* background-images: linear-gradient(to left,
  #94D4F1,#2DA5E1); */
  padding:3px;
  z-index: -1;
  transition: transform .6s ease;
}

.intro-title {
  position: relative;
  font-size: 4rem;
  display: flex;
}

.intro-title a img {
  text-decoration: none;
  /* color: #fff; */
  width: 100%;
  align-items: center;
  text-align: center;
  /* position: absolute; */
}

.filterItem {
  display: none;
}

.filterItem:nth-child(-n+4) {
  display: block;
}

ul li {
  display: none;
}

ul li:nth-child(-n+4) {
  display: list-item;
}