{% load static %}
{# <header class="header-area navbar-fade" id="header">#}
{#        <nav class="navbar">#}
{#          <a class="navbar-brand" href="home/"><img src="{% static '/firstPage/images/only_print.png' %}" alt="pocari sound"> </a>#}
{#          <a class="navbar-toggler" id="toggleBtn"><i class="fa fa-bars"></i></a>#}
{#          <div class="navbar-menu" id="menu">#}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="home" id="navbarHome">Home</a>#}
{#            </div>#}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="#"id="navbarService">Service</a>#}
{#            </div>#}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="#"id="navbarPrice">price</a>#}
{#            </div>#}
{##}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="#"id="navbarPortfolio">portfolio</a>#}
{#            </div>#}
{#            <!-- <div class="nav-item">#}
{#              <a class="nav-link" href="./home.html"id="navbarContact">contact</a>#}
{#            </div> -->#}
{#          </div>#}
{#        </nav>#}
{#      </header>#}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link text-bg-warning p-3" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>