{% load static %}
{# <header class="header-area navbar-fade" id="header">#}
{#        <nav class="navbar">#}
{#          <a class="navbar-brand" href="home/"><img src="{% static '/firstPage/images/only_print.png' %}" alt="pocari sound"> </a>#}
{#          <a class="navbar-toggler" id="toggleBtn"><i class="fa fa-bars"></i></a>#}
{#          <div class="navbar-menu" id="menu">#}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="home" id="navbarHome">Home</a>#}
{#            </div>#}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="#"id="navbarService">Service</a>#}
{#            </div>#}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="#"id="navbarPrice">price</a>#}
{#            </div>#}
{##}
{#            <div class="nav-item">#}
{#              <a class="nav-link" href="#"id="navbarPortfolio">portfolio</a>#}
{#            </div>#}
{#            <!-- <div class="nav-item">#}
{#              <a class="nav-link" href="./home.html"id="navbarContact">contact</a>#}
{#            </div> -->#}
{#          </div>#}
{#        </nav>#}
{#      </header>#}




<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4"><img src="{% static '/firstPage/images/only_print.png' %}" alt="pocari sound" style="width:30%"></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
</div>
