{% extends 'home/base.html' %}
{% load static %}

{% block content %}

    <!-- 포트폴리오 섹션 -->
  <div class="section-container">
    <section class="portfolio-area" id="portfolio">
      <div class="title"><a href="./portfolio.html">PORTFOLIO</a></div>

      <div class="filter">
        <ul class="list">
          <li class="listItem active" id="all">ALL</li>
          <li class="listItem" id="enterprise">기업홍보</li>
          <li class="listItem" id="product">제품홍보</li>
          <li class="listItem" id="vlog">브이로그</li>
        </ul>
      </div>


        <div class="container">

            <!-- 기업홍보 -->
            <!-- 기업홍보 -->
            <div class="sub-container enterprise" id="sub-enterprise">
                <div class="category container text-center">기업홍보</div>
                <div class="row">
                    {% for pf in enterprise_portfolios %}
                        <div class="col-md-6 portfolio-item {{ forloop.counter|slice:":4" }}">
                            <div class="card mb-4">
                                <span class="border border-warning-subtle">
                                <img src="{{ pf.img_path.url }}" class="card-img-top" alt="{{ pf.title }}">
                                <div class="card-body">
                                   <div class="card-title">"타이틀" + {{ pf.title }}</div>
                                    <div class="card-title">"필드" +{{ pf.field }}</div>
                                    <div class="card-text">"내용" + {{ pf.description }}</div>
                                    <div class="card-text">"id" + {{ pf.id }}+{{ pf.number }}</div>
                                    <div class="card-text">"number" + {{ pf.number }}</div>
                                    <div class="card-text">"생성일"{{ pf.created_at }}</div>
                                </div>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-4">
                    <div class="btn btn-primary" id="loadMoreEnterprise">더 보기</div>
                </div>
            </div>

           <!-- 제품홍보 -->
            <div class="sub-container product" id="sub-product">
                <div class="category container text-center">제품홍보</div>
                <div class="row">
                    {% for pf in product_portfolios %}
                        <div class="col-md-6 portfolio-item {{ forloop.counter|slice:":4" }}">
                            <div class="card mb-4">
                                <span class="border border-warning-subtle">
                                <img src="{{ pf.img_path.url }}" class="card-img-top" alt="{{ pf.title }}">
                                <div class="card-body">
                                    <div class="card-title">"타이틀" + {{ pf.title }}</div>
                                    <div class="card-title">"필드" +{{ pf.field }}</div>
                                    <div class="card-text">"내용" + {{ pf.description }}</div>
                                    <div class="card-text">"id" + {{ pf.id }}+{{ pf.number }}</div>
                                    <div class="card-text">"number" + {{ pf.number }}</div>
                                    <div class="card-text">"생성일"{{ pf.created_at }}</div>
                                </div>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-4">
                    <div class="btn btn-primary" id="loadMoreProduct">더 보기</div>
                </div>
            </div>


            <!-- 브이로그 -->
            <div class="sub-container vlog" id="sub-vlog">
                <div class="category container text-center">브이로그</div>
                <div class="row">
                    {% for pf in vlog_portfolios %}
                        <div class="col-md-6 portfolio-item {{ forloop.counter|slice:":4" }}">
                            <div class="card mb-4">
                                <span class="border border-warning-subtle">
                                <img src="{{ pf.img_path.url }}" class="card-img-top" alt="{{ pf.title }}">
                                <div class="card-body">
                                    <div class="card-title">"타이틀" + {{ pf.title }}</div>
                                    <div class="card-title">"필드" +{{ pf.field }}</div>
                                    <div class="card-text">"내용" + {{ pf.description }}</div>
                                    <div class="card-text">"id" + {{ pf.id }}+{{ pf.number }}</div>
                                    <div class="card-text">"number" + {{ pf.number }}</div>
                                    <div class="card-text">"생성일"{{ pf.created_at }}</div>
                                </div>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-4">
                    <div class="btn btn-primary" id="loadMore">더 보기</div>
                </div>
            </div>
        </div>
    </section>
  </div>

  <div id="portfolioModal" class="modal">
    <span class="close" id="modalClose">&times;</span>
    <div class="modal-container">
      <div id="modalVideo">video</div>
      <img id="modalImage" style="display: none;" />

      <div id="modalMain" class="modal-main">main</div>
      <div id="modalSub" class="modal-sub">sub</div>
      <div id="modalText" class="modal-text">text</div>
    </div>
  </div>

{% endblock %}


