/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

:root {
  --white: #ffffff;
  --blue: #0079ff;
  --black: #333;
  --yellow: #f6fa70;
  --magenta: #ff0060;
  --menubar3: rgb(198, 205, 215);
  --menubar-light: #d6d9e0;

}

div{
  font-size: 14px;
}
/* COMMON */
* {
  margin: 0;
  padding: 0;

}

body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  word-break: break-all;
  font-family: "Noto Sans KR", sans-serif;

}

.back-gray {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  opacity: 1;

}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}


tr,
th,
td {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

/* header */

.header-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--white);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fade {
  animation-name: navbar-fade;
  animation-duration: 0.5s;
  -webkit-animation-name: navbar-fade;
  -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes navbar-fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.header-area.navbar-fixed {
  position: fixed;
}

.header-area>.navbar {
  width: calc(100%- 120px);
  margin: 0 60px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .header-area>.navbar {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .header-area>.navbar {
    max-width: 1800px;
  }
}

.header-area>.navbar>.navbar-brand {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  cursor: pointer;
  font-weight: 700;
  color: #333;
  width: 200px;
}

.navbar-brand>img {
  padding-top: 10px;
  /* height: 20%; */
  width: 100%;
}

.header-area>.navbar>.navbar-toggler * {
  font-size: 32px;
}

.header-area>.navbar>.navbar-toggler {
  float: right;
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  cursor: pointer;
}

/* 햄버거 버튼 숨기기 */
@media (min-width: 992px) {
  .header-area>.navbar>.navbar-toggler {
    display: none;
  }
}

.header-area>.navbar>.navbar-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 70px;
  left: 0;
  width: 100%;
  height: 0px;
  transition: 0.5s ease;
  overflow: hidden;
}

.header-area>.navbar>.navbar-menu.show {
  height: auto;
}

.header-area>.navbar>.navbar-menu>.nav-item {
  float: none;
  display: block;
  height: 50px;
  line-height: 50px;
}

.header-area>.navbar>.navbar-menu>.nav-item:hover * {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-area>.navbar>.navbar-menu>.nav-item>.nav-link {
  display: block;
  padding-left: 50px;
  color: white;
  cursor: pointer;
}

@media (min-width: 992px) {
  .header-area>.navbar>.navbar-menu {
    position: relative;
    background-color: transparent;
    float: right;
    top: 0;
    width: auto;
    height: auto;
    transition: none;
  }

  .header-area>.navbar>.navbar-menu.show {
    height: auto;
  }

  .header-area>.navbar>.navbar-menu>.nav-item {
    display: inline-block;
    height: 70px;
    line-height: 70px;
  }

  .header-area>.navbar>.navbar-menu>.nav-item:hover * {
    background-color: transparent;
  }

  .header-area>.navbar>.navbar-menu>.nav-item>.nav-link {
    display: block;
    padding: 0 20px;
    color: black;
  }
}

/* intro area */
/* SECTION CONTAINER */
.section-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

/* WELCOME AREA */
.welcome-area {
  padding-top: 8px;
  padding-bottom: 100px;
  height: auto;
}

.welcome-area>.container {
  position: relative;
  height: 100%;
}

.welcome-area>.container>.image-slide {
  height: 100%;
}

.welcome-area>.container>.image-prev,
.welcome-area>.container>.image-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.welcome-area>.container>.image-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.welcome-area>.container>.image-prev:hover,
.welcome-area>.container>.image-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.welcome-area>.container>.dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.welcome-area>.container>.dots>.dot {
  cursor: pointer;
  height: 4px;
  width: 30px;
  margin: 0 2px;
  background-color: #717171;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.welcome-area>.container>.dots>.dot.active,
.welcome-area>.container>.dots>.dot:hover {
  background-color: #ddd;
}

.welcome-area>.container>.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* section */
section {
  padding: 100px 0;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 80px;
}

@media (min-width: 992px) {
  .title {
    font-size: 60px;
  }
}

.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 12px;
  margin: 0 auto;
  background-image: linear-gradient(to left,
      #94D4F1, #2DA5E1);

}

.title a {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 80px;
  color: #333;
}

@media (min-width: 992px) {
  .title a {
    font-size: 60px;
  }
}

.title a ::after {
  content: "";
  display: block;
  width: 100px;
  height: 12px;
  margin: 0 auto;
  background-image: linear-gradient(to left,
      #94D4F1, #2DA5E1);

}


/* service area */
.about-area {
  position: relative;
  height: auto;
  z-index: 1;
}

/* .about-area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../asset/mainpage_back.jpg");
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
} */

.about-area .icon {
  width: 40%;
  /* 아이콘의 너비를 50%로 설정 */
  height: auto;
  /* 높이는 자동으로 조정 (비율 유지) */
}

.flex-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contents {
  width: 280px;
  height: 320px;
  /* background-color: lightblue; */
  color: #333;
  font-size: 14px;
  margin: 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.contents p {
  font-weight: bold;
  font-size: 32px;
  align-items: center;
  text-align: center;
  color: #333;
}

.contents-title {
  padding-bottom: 20px;
}


.text .details {
  font-weight: normal;

  font-size: 22px;
}

.icon i {
  font-size: 48px;
  color: #333;
}



/*price area*/

.price-area {
  min-width: 60%;
  padding: 10px;
  text-align: center;
}

.price-contents {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.price-table {
  width: 100%;
  padding: 20px 20px;

}

.price-table th,
.price-table td {
  padding: 10px;
  border: none #333;
}

.price-table th {
  font-size: 15px;
  background-color: var(--blue);
  /*목록 색상 */
}

.price-table td {
  font-size: 15px;
  padding: 10px 20px;
}

.price-text {
  width: 100%;
  height: auto;
  margin: 20px;
  text-align: left;
}

.price-text p {
  font-size: 16px;
  color: #333;
  word-wrap: break-word;
  max-width: 95%;
  display: inline-block;
  margin-bottom: 12px;
}


/* PORTFOLIO AREA */

.portfolio-area {
  min-width: 80%;
  /* padding: 20px; */
  /* background-color: #f5f5f5; */
  text-align: center;
}

.portfolio-area>.filter>.list {
  text-align: center;
}

.portfolio-area>.filter>.list>.listItem {
  display: inline-block;
  font-weight: bold;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;

}

.portfolio-area>.filter>.list>.listItem:hover,
.portfolio-area>.filter>.list>.listItem.active {
  color: #2DA5E1;
}

.portfolio-area>.container {
  padding-top: 50px;
}

.portfolio-area>.container>.sub-container>.filterItem {
  display: none;
  width: calc(100% - 40px);
  margin: 0 10px;
}

@media (min-width: 992px) {
  .portfolio-area>.container>.sub-container>.filterItem {
    width: calc(50% - 40px);
  }
}

.portfolio-area>.container>.sub-container>.filterItem.show {
  display: inline-block;
}

.portfolio-area>.container>.sub-container>.filterItem.hide {
  display: none;
}

.portfolio-area>.container>.sub-container>.filterItem>.image {
  position: relative;
  width: 100%;

}

@media (min-width: 992px) {
  .portfolio-area>.container>.sub-container>.filterItem>.image {
    min-width: 533.32px;
    height: 300px;
  }
}

.filterItem:nth-child(n+5) {
  display: none;
}


.portfolio-area>.container>.sub-container>.filterItem>.image>.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #2DA5E1;
  transition: all 0.3s ease;
  cursor: pointer;
}

.portfolio-area>.container>.sub-container>.filterItem>.image:hover>.overlay {
  background-image: linear-gradient(to left,
      #94D4F1, #2DA5E1);
  opacity: 0.5;
}

.portfolio-area>.container>.sub-container>.filterItem>.image:hover>.overlay>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
}

/* .portfolio-area>.container>.sub-container>.filterItem>.image>img {
  border-radius: 5px;
} */



.portfolio-area>.container>.sub-container>.filterItem>.main {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.portfolio-area>.container>.sub-container>.filterItem>.sub {
  font-size: 16px;
  color: #777;
  padding: 10px 0;
}

.portfolio-area>.container>.sub-container>.filterItem>.text {
  display: none;
}


.portfolio-item:nth-child(n+5) {
    display: none;
}


/* contact area */

.contact-area {
  height: auto;
  background-color: #f9f9ff;
}

.contact-area>.container {
  text-align: center;
}

.contact-area>.container>.item {
  height: auto;
  padding: 30px 50px;
  margin: 20px;
  text-align: left;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.contact-area>.container>.item:hover {
  transform: scale(1.015);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to left,
      #94D4F1, #2DA5E1);
}

.contact-area>.container>.item>.icon {
  padding: 10px 0;
  display: inline-block;
}

.contact-area>.container>.item>.icon>a>i {
  font-size: 64px;
  color: #333;
}

.contact-area>.container>.item>.icon>a>i:hover {
  font-size: 64px;
  color: white;
}



.contact-area>.container>.item>.content * {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1.5px;
  padding: 10px 0;
}

/* FOOTER AREA */

.footer-area {
  height: auto;
  text-align: center;
  background-color: #d6d9e0;
}

.footer-area * {
  color: #333;
}


.footer-area>.sns>.item>a {
  font-size: 24px;
}

.footer-area>.info>p {
  font-size: 16px;
  padding: 5px 0;
}



/*추가*/

.sub-container .category {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.category::after {
  content: "";
  display: block;
  width: 100px;
  height: 12px;
  margin: 8px auto 28px auto;
  background-image: linear-gradient(to left,
      #94D4F1, #2DA5E1);

}



.sub-category {
  font-size: 20px;
  color: #333;
  margin: 10px 0 20px 0;
}

.sub-container {
  margin: 20px 10px;
  border: 4px solid #2DA5E1;
  border-radius: 10px;
}


.sub-container.hidden {
  display: none;
}

.sub-container.show {
  display: inline-block;
}



.filterItem.text {
  display: none;
}
.card-img-top {
        width: 200px;  /* 너비를 200픽셀로 설정 */
        height: 200px; /* 높이를 200픽셀로 설정 */
        object-fit: cover; /* 이미지 비율을 유지하면서 영역을 채움 */
    }

.sub-container{
  padding:8px ;
}
