{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>포카리 사운드</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100;1,700&family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap"
  rel="stylesheet">
  <!-- icon -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />

    <style>
        :root {
            --background-image-url: url('{% static "firstPage/images/mainpage_back.jpg" %}');
        }
</style>
  <!-- CSS -->

  <link rel="stylesheet" href={% static 'firstPage/css/style.css' %}/>
</head>

<body>
<div class="back-gray" id="clickBtn"></div>
  <div class="intro-back" >
    <div class="intro-title">
        <a href="./home.html"/>
        <img src="{% static '/firstPage/images/only_print.png' %}" alt=""/>
    </div>
  </div>
</body>
<script>
  document.getElementById("clickBtn").addEventListener("click",function(){
    window.location.href = "./home.html"
  })
</script>
</html>

<!-- 
// 포카리사운드 하단에 작은 글씨로 click anywhere 문구 작성, 
// 화면 전체 눌렀을 때 홈페이지로 이동  -->